<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.wifi" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"
        android:minSdkVersion="29" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:minSdkVersion="29" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        android:minSdkVersion="29" />

    <application
        android:name=".SadaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sada"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".TowerActivity"
            android:exported="true"
            android:icon="@mipmap/ic_tower"
            android:label="Sada Tower"
            android:theme="@style/Theme.Sada"
            android:taskAffinity="com.nizarmah.sada.tower">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RelayActivity"
            android:exported="true"
            android:icon="@mipmap/ic_relay"
            android:label="Sada Relay"
            android:theme="@style/Theme.Sada"
            android:taskAffinity="com.nizarmah.sada.relay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SmsActivity"
            android:exported="true"
            android:icon="@mipmap/ic_sms"
            android:label="Sada SMS"
            android:theme="@style/Theme.Sada"
            android:taskAffinity="com.nizarmah.sada.sms">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>